<section id="shopify-section-template--16742497353883__main" class="shopify-section section">
  <link
    href="//andrii-store-test.myshopify.com/cdn/shop/t/7/assets/section-main-page.css?v=848677459125201531711282261"
    rel="stylesheet"
    type="text/css"
    media="all"
  >
  <style data-shopify="">
    .section-template--16742497353883__main-padding {
      padding-top: 21px;
      padding-bottom: 21px;
    }

    @media screen and (min-width: 750px) {
      .section-template--16742497353883__main-padding {
        padding-top: 28px;
        padding-bottom: 28px;
      }
    }
  </style>
  <div class="page-width page-width--narrow section-template--16742497353883__main-padding">
    <h1 class="main-page-title page-title h0 scroll-trigger animate--fade-in">Shipping Policy</h1>
    <div class="rte scroll-trigger animate--slide-in">
      <p data-mce-fragment="1">
        Thank you for choosing Pet Shop ! We are committed to providing you with a seamless and reliable shopping
        experience. Please take a moment to review our shipping policy.
      </p>
      <p data-mce-fragment="1"><strong data-mce-fragment="1">1. Order Processing:</strong></p>
      <ul data-mce-fragment="1">
        <li data-mce-fragment="1">All orders are processed within 1-2 business days.</li>
        <li data-mce-fragment="1">Orders placed on weekends or holidays will be processed on the next business day.</li>
      </ul>
      <p data-mce-fragment="1"><strong data-mce-fragment="1">2. Shipping Rates:</strong></p>
      <ul data-mce-fragment="1">
        <li data-mce-fragment="1">
          We offer competitive shipping rates based on the weight and destination of your order.
        </li>
        <li data-mce-fragment="1">Shipping costs will be calculated at checkout before you complete your purchase.</li>
      </ul>
      <p data-mce-fragment="1"><strong data-mce-fragment="1">3. Shipping Methods:</strong></p>
      <ul data-mce-fragment="1">
        <li data-mce-fragment="1">We currently offer standard and expedited shipping options.</li>
        <li data-mce-fragment="1">
          Standard shipping typically takes&nbsp;4 business days, while expedited shipping takes&nbsp;8 business days.
        </li>
      </ul>
      <p data-mce-fragment="1"><strong data-mce-fragment="1">4. Order Tracking:</strong></p>
      <ul data-mce-fragment="1">
        <li data-mce-fragment="1">
          Once your order has been shipped, you will receive a confirmation email with a tracking number.
        </li>
        <li data-mce-fragment="1">
          You can track your order by visiting our Order Tracking Page and entering your tracking number.
        </li>
      </ul>
      <p data-mce-fragment="1"><strong data-mce-fragment="1">5. International Shipping:</strong></p>
      <ul data-mce-fragment="1">
        <li data-mce-fragment="1">We offer international shipping to select countries.</li>
        <li data-mce-fragment="1">
          International shipping rates and delivery times vary. Please check the shipping options at checkout.
        </li>
      </ul>
      <p data-mce-fragment="1"><strong data-mce-fragment="1">6. Customs and Duties:</strong></p>
      <ul data-mce-fragment="1">
        <li data-mce-fragment="1">
          International orders may be subject to customs duties and taxes imposed by the destination country.
        </li>
        <li data-mce-fragment="1">The recipient is responsible for any additional charges incurred.</li>
      </ul>
      <p data-mce-fragment="1"><strong data-mce-fragment="1">7. Delivery Issues:</strong></p>
      <ul data-mce-fragment="1">
        <li data-mce-fragment="1">
          In the rare event of a delivery issue, please contact our customer service team at
          <a data-mce-fragment="1" target="_new">customer-service@petshop.com</a>.
        </li>
        <li data-mce-fragment="1">We will work diligently to resolve any problems and ensure your satisfaction.</li>
      </ul>
      <p data-mce-fragment="1"><strong data-mce-fragment="1">8. Address Accuracy:</strong></p>
      <ul data-mce-fragment="1">
        <li data-mce-fragment="1">It is the customer's responsibility to provide accurate shipping information.</li>
        <li data-mce-fragment="1">Please double-check your shipping address before completing your purchase.</li>
      </ul>
      <p data-mce-fragment="1"><strong data-mce-fragment="1">9. Delayed Shipments:</strong></p>
      <ul data-mce-fragment="1">
        <li data-mce-fragment="1">
          In the event of unexpected delays, we will notify you promptly and provide updates on the status of your
          order.
        </li>
      </ul>
      <p data-mce-fragment="1">
        <strong data-mce-fragment="1">10. Returns and Refunds:</strong> - Please refer to our Return Policy for
        information on returns and refunds.
      </p>
      <p data-mce-fragment="1">
        If you have any questions or concerns regarding our shipping policy, feel free to contact our customer service
        team at <a data-mce-fragment="1" target="_new">customer-service@petshop.com</a>. Thank you for choosing Pet Shop
        !
      </p>
      <p data-mce-fragment="1">
        Pet Shop&nbsp;<span data-mce-fragment="1">Ocello Street</span>&nbsp;<span data-mce-fragment="1">San Diego</span
        >, UK, 92111&nbsp;Email: <a data-mce-fragment="1" target="_new">info@petshop.com</a>&nbsp;Phone: (123) 456-7890
      </p>
    </div>
  </div>
</section>
