<div class="page-width track_page">
<h1>Track Your Order</h1>
<p>Enter your tracking number to see the tracking details</p>
<form target="_blank" action="https://www.17track.net/en" class="form_design_now">
<input type="text">
<input type="submit" value="TRACK">
</form>
</div>

<style>

  .page-width.track_page {
	margin: 10% auto;
	text-align: center;
}
  .form_design_now input {
	background: ;
	padding: 8px;
	background: transparent;
	box-shadow: none;
	border: unset;
	border: 1px solid #00000040;
	font-weight: ;
}
</style>